html {
  --pink: #F47;
  --pinkSel: #2AF;
  --red: #B00;
  --redSel: #25F;
  --blue: #00B;
  --blueSel: #E46;
  --cyan: #0BB;
  --cyanSel: #E57;
  --lightBlue: #07F;
  --lightBlueSel: #0CC;
  --black: #000;
  --blackSel: #000;
  --dark-cyan: #0FF;
  --dark-cyanSel: #35F;
  --dark-cyanBg: #1a334d;
  --darker-cyanBg: #122436;
  --dark-lightBlue: #4BF;
  --dark-lightBlueSel: #0EC;
  --dark-lightBlueBg: #1a1a4d;
  --darker-lightBlueBg: #121236;
  --dark-blue: #55F;
  --dark-blueSel: #0FF;
  --dark-blueBg: #1a1a4d;
  --darker-blueBg: #121236;
  --dark-red: #F44;
  --dark-redSel: #F80;
  --dark-redBg: #660000;
  --darker-redBg: #470000;
  --dark-pink: #F47;
  --dark-pinkSel: #2AF;
  --dark-pinkBg: #4d1a33;
  --darker-pinkBg: #361224;
  --dark-white: #FFF;
  --dark-whiteSel: #FFF;
  --dark-whiteBg: #333333;
  --darker-whiteBg: #242424;
  /* foreground */
  --darkFg:#FFF;
  --lightFg:#000;
  /* ACTIVE */
  --color1:var(--dark-blue);
  --selColor:var(--dark-blueSel);
  --colorBg:var(--dark-blueBg);
  --colorFg:var(--darkFg);
}
