/*
Understandable Passwords - make random, yet understandable sentences to use as passwords
Copyright 2022 Đặng Văn Quân

This file is part of Understandable Passwords.

Understandable Passwords is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Understandable Passwords is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Understandable Passwords. If not, see <https://www.gnu.org/licenses/>.

Contact email: gizapp@tutanota.com
*/
html {
  margin:1em;
  margin-top:1.5em;
  font-family:'Recursive', -apple-system, BlinkMacSystemFont, 'Courier New', monospace;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  --animTime:0.2s;
  --medAnimTime:0.35s;
  --longAnimTime:3s;
  --longTransition:cubic-bezier(0.9, 0, 0.1, 1);
  --iconHeight:1em;
  --hiddenFontSize:0;
  stroke-linecap:round;
  stroke-linejoin:round;
  font-weight:370;
  background:var(--colorBg);
  color:var(--color1);
  transition:all var(--medAnimTime) linear;
  overflow-x:hidden;
  stroke:var(--color1);
  fill:var(--colorBg);
  stroke-width:6;
}
body{
  margin:0;
}
@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity:1}
}
@keyframes growIn {
  0% {font-size:0;opacity:0}
  100% {font-size:1em;opacity:1}
}
@keyframes fadeInLeft {
  0% {transform:translateX(-10rem);font-size:0;opacity:0}
  100% {transform:translateX(0);font-size:1em;opacity:1}
}
@keyframes cooldown {
  0% {color:var(--colorFg);font-weight:600}
  100% {color:var(--color1);font-weight:400}
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background:transparent;
}
::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, transparent 12.5%, var(--color1) 12.5%, var(--color1) 37.5%, transparent 37.5%);
  background-color: var(--colorBg);
  background-repeat:repeat;
  background-size:5em 5em;
  border:1px solid var(--color1);
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color1);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--selColor);
  border-color: var(--selColor);
}
::selection {
  color:var(--colorBg);
  background:var(--selColor);
}
.subheading {
  font-weight:600;
  font-variation-settings:'slnt' -15, 'CASL' 1;
}
a {
  color:var(--theme-blue);
}
a:visited {
  color:var(--theme-violet);
}
cmd {
  transition:all var(--animTime) ease;
  border-radius:0.3em;
  cursor:pointer;
  background-color:transparent;
  padding:0 0.2em;
  border:1px solid var(--color1);
  font-family:inherit;
  font-variation-settings:'MONO' 1;
  line-height:1.25;
}
cmd:hover {
  border-color:var(--color1);
  font-weight:700;
}
cmd:active {
  background-color:var(--color1);
  border-color:var(--color1);
  font-weight:900;
  color:var(--colorBg);
}
strong {
  font-style:normal;
  font-variation-settings:'CASL' 1, 'slnt' -15;
  font-size:1.3em;
  font-weight:340;
}
i {
  font-style:normal;
  font-variation-settings:'slnt' -15;
}
loc {
  text-decoration:underline;
}
em {
  font-style:normal;
  font-variation-settings:'slnt' -15;
}
hr {
  background:var(--color1);
  border-color:transparent;
  margin:1em 0;
  border-bottom:0;
}
h4 {
  margin-block-start:1.66em;
  margin-block-end:1em;
}
#shell {
  width:max-content;
  max-width:100%;
  font-variation-settings: 'MONO' 1;
  padding:0 0.3em;
  font-size:1.1em;
}
#shell > .button.hidden, #shell.empty > .emptyHidden {
  opacity:0;
  background-color:transparent;
  font-size:0;
  pointer-events:none;
}
@keyframes pop {
  0% {font-size:1em;background-color:var(--color1)}
  50% {font-size:1.5em;background-color:var(--selColor);font-weight:1000;stroke-width:15}
  100% {font-size:1em;background-color:var(--color1)}
}
#shell.valid > #enter {
  --hiddenFontSize:1em;
  animation: var(--medAnimTime) linear calc(var(--medAnimTime)*2) 1 pop;
  background-color:var(--color1);
  margin-right:0.5em;
  padding-left:0.2em;
  stroke:var(--colorBg);
  fill:var(--colorFg);
  color:var(--colorBg);
}
#shell > .button > .hidden {
  font-size:var(--hiddenFontSize);
}
#shell > .prefix {
  transition-property:all;
  transition-duration:var(--medAnimTime);
  transition-timing-function:ease-in;
  color:var(--color1);
  font-variation-settings: 'CASL' 1, 'slnt' 0, 'CRSV' 0;
}
#shell > .prefix:hover {
  transition-duration:var(--longAnimTime);
  transition-timing-function:var(--longTransition);
  font-variation-settings: 'CASL' 0, 'slnt' 0, 'CRSV' 0;
  font-weight:600;
}
#shell > .prefix > .hidden {
  transition-property:all;
  transition-duration:var(--medAnimTime);
  transition-timing-function:ease-in;
  font-size:0;
  font-variation-settings: 'CASL' 0, 'slnt' 0, 'CRSV' 0;
}
#shell > .prefix:hover > .hidden {
  transition-duration:var(--longAnimTime);
  transition-timing-function:var(--longTransition);
  font-size:1em;
  font-weight:600;
}
#root > * {
  margin: 1rem 0;
  margin-top:0.3em;
}
#shell > .input {
  transition:max-width var(--animTime) ease-in-out;
  white-space:break-spaces;
  font-weight:600;
  color:var(--colorFg);
}
#suggestions {
  --localColor:var(--color1);
  --localBg:var(--color1Bg);
  font-size:1.1em;
  transition:all var(--animTime) linear;
  padding:0.3em 0;
  overflow-x:auto;
  overflow-y:hidden;
  font-variation-settings: 'CASL' 1;
  white-space:nowrap;
  min-height:1.3em;
  max-height:1.3em;
  stroke:var(--localColor);
}
#suggestions:empty {
  min-height:0;
  max-height:0;
  margin:0;
  padding:0;
}
.msg {
  font-variation-settings: 'CASL' 1, 'slnt' -15;
}
#suggestions.hot > span {
  --localColor:var(--colorFg);
  font-weight:600;
}
#suggestions > span {
  animation: var(--medAnimTime) linear 0s 1 growIn;
  transition:all var(--medAnimTime) ease;
  color:var(--localColor);
  background-color:var(--localBg);
  border-radius:0.3em;
  border:1px solid var(--localColor);
  cursor:pointer;
  padding:0.2em 0 0.2em 0.2em;
  margin:0 0.2em;
}
@keyframes shrinkOut {
  0% {font-size:1em;opacity:1}
  100% {font-size:0;opacity:0}
}
#suggestions > span.hidden {
  animation: var(--medAnimTime) linear 0s 1 shrinkOut;
  user-select:none;
  font-size:0;
  opacity:0;
}
#suggestions > span:hover {
  font-weight:700;
}
#suggestions > span:active {
  font-weight:900;
}
#suggestions > span > #hidden {
  transition:font-size var(--medAnimTime) ease;
  font-size:0;
  user-select:none;
}
#suggestions > span > #abbrev {
  transition:font-size var(--medAnimTime) ease;
  font-size:1em;
}
#suggestions > span > #input {
  transition:font-size var(--animTime) ease;
  outline:0;
  font-size:0;
  color:var(--colorFg);
}
#suggestions > span > #enter {
  display:none;
}
#suggestions > span.active > #input {
  font-size:1em;
}
#suggestions > span > #text {
  transition:font-size var(--animTime) ease;
  font-size:1em;
}
#suggestions > span.active > #text {
  font-size:0;
}
#suggestions > span.active > #enter {
  display:unset;
}
#suggestions > span.active {
  font-weight:800;
}
#suggestions > span.strong {
  color:var(--colorBg);
  padding:0.3em 0.1em 0.3em 0.3em;
  border:0;
  background:var(--localColor);
}
.unstyled {
  border:0;
  outline:0;
}
.button {
  font-variation-settings: 'CASL' 1;
  transition:all var(--animTime) ease;
  border-radius:0.3em;
  cursor:pointer;
  background-color:transparent;
  padding:0 0.1em;
  border:1px solid transparent;
  display:inline;
}
.button:hover {
  border-color:var(--color1);
  font-weight:700;
}
.button:active {
  background-color:var(--color1);
  border-color:var(--color1);
  font-weight:900;
  stroke:var(--colorBg);
  fill:var(--color1);
}
.shellBuffer {
  display:flex;
  flex-direction:column;
  width: fit-content;
}
.shellBuffer > div {
  animation: var(--medAnimTime) ease-out 0s 1 fadeInLeft, var(--longAnimTime) ease-in 0s 1 cooldown;
  transition:all var(--animTime) ease;
  padding:1em 0.3rem;
  padding-top:0;
  overflow-wrap:anywhere;
}
.shellBuffer > div .hoverAppear {
  transition:all var(--animTime) linear;
  opacity:0;
}
.shellBuffer > div:hover .hoverAppear, .shellBuffer > div .triggered.hoverAppear {
  opacity:1;
}
.shellBuffer > div:hover {
  font-weight:600;
}
.shellBuffer > div:active {
  font-weight:900;
}
.shellBuffer > div.selected {
  font-weight:800;
}
.shellBuffer .button {
  padding-bottom:0.2em;
}
.bufferMap {
  width:1rem;
}

#doubleBuffer {
  display:flex;
  color:var(--color1);
  font-variation-settings: 'CASL' 0;
}
.hsep {
  border-left:1px solid var(--colorFg);
  margin:0 0.5em;
}
.shellBuffer.cmd {
  min-width:7em;
  font-variation-settings: 'MONO' 1;
  white-space:break-spaces;
}
.subtext {
  font-variation-settings: 'slnt' -15, 'CASL' 1;
  font-weight:300;
}
.subtext.tooltiptrigger {
  cursor:help;
}
.contact {
  --iconHeight:1.4em;
  stroke-width:3.5px;
  white-space:nowrap;
  margin-right:1em;
  text-decoration:none;
  color:inherit !important;
}
.inlineIcon {
  height:var(--iconHeight);
  vertical-align:middle;
  stroke-linecap:round;
  stroke-linejoin:round;
}
#doubleBuffer .hidable .coveredOnly {
  display:none;
}
#doubleBuffer .hidable #text {
  transition: all var(--medAnimTime) ease;
}
#doubleBuffer .hidable #cover {
  transition: all var(--medAnimTime) ease;
  font-size:0;
}
#doubleBuffer.hiding .hidable .coveredOnly {
  display:unset;
}
#doubleBuffer.hiding .hidable #text {
  transition: all var(--medAnimTime) ease;
  font-size:0;
}
#doubleBuffer.hiding .hidable #cover {
  transition: all var(--medAnimTime) ease;
  font-size:1em;
}
.shellBuffer.result > div {
  font-variation-settings: 'CASL' 1;
}
.shellBuffer.result > div:hover {
  font-variation-settings: 'CASL' 0;
}
